.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;

}

.button{
  color: #fcd462;
  text-shadow: 2px 2px #41586d;
  cursor: pointer;
  background: linear-gradient(to right bottom, rgb(171, 140, 28), rgb(148, 49, 150));
}

.particles{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}